* p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.bg-footer {
  background-color: #1d1d1d
}

.m-top-bottom-txt-20 p {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* .border-black {
  border: 2px solid black;
}

.border-red {
  border: 2px solid red; 
}

.border-green {
  border: 2px solid green;
}

.border-yellow {
  border: 2px solid yellow;
}

.border-blue {
  border: 2px solid blue;
} */
